.App {
  text-align: center;
  margin: 0 0 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App .card {
  border: 1px solid #ccc;
  min-height: 620px;
}

.App .card img.card-img-top {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  width: 100%;
}


.App .card button.btn.btn-danger {
  position: absolute;
  margin: 0 auto;
  left: 20px;
  right: 20px;
  bottom: 30px;
  display: table;
}